body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #252525;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#container {
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -40px
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box {
    width: 80px;
    height: 80px;
    background-color: lightblue;
    display: inline-block;
    margin: 10px;
}

.quantity {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    text-align: center;
    right: 43%;
    background-color: #aefcd0; 
    width: 35px;
    height: 35px;
    border: 1px solid #000000;
    transition: all ease 0.40s;
}

.item {
    font-size: 16px;
    
}

.btn-container {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    transition: all ease 0.40s;
}

.btn:hover {
    background-color: #18cbd4;
}

#concluirBtn {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 17px;
    cursor: pointer;
    transition: all ease 0.40s;
}

#concluirBtn:hover {
    background-color: #1ba3a1;
}


#developerTag {
    top: 20px;
    font-weight: 700;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: #696969;
}

@media only screen and (max-width: 500px) {
    #container {
        width: 95%;
    }
}
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Fundo transparente */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: none; /* Inicialmente oculto */
    z-index: 999; /* Para garantir que a sidebar fique acima do conteúdo */
}

.hidden {
    display: none; /* Esconde o menu */
}

#menuHamburguer {
    position: fixed;
    color: #000000;
    top: 15px;
    left: 20px;
    font-size: 25px;
    cursor: pointer;
    z-index: 1000; /* Acima da sidebar */
}

#menuContent a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin: 30px 0 0 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menuContent a:hover {
    background-color: rgba(7, 182, 109, 0.5);
}

/* Estilo para esconder e mostrar a sidebar */
#sidebar.show {
    display: block;
}


#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2000;
}

.loader {
    border: 10px solid #f3f3f3; /* Laranja claro */
    border-top: 10px solid #27ae60; /* Laranja escuro */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}